<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12">
      <h2 class="mt-3 pb-3">アプリ詳細</h2>

      <table class="mt-5 table table-borderless">
        <tbody>
          <tr>
            <th>写真</th>
          </tr>
          <tr>
            <td>
              <div class="box">
                <%= attachment_image_tag @application, :image, class:"appliimage" %>
              </div>
            </td>
          </tr>
          <tr></tr>
          <tr>
            <th>タイトル</th>
          </tr>
          <tr>
            <td><%= @application.name %></td>
          </tr>
          <tr>
            <th>アプリ説明</th>
          </tr>
          <tr>
            <td class= "text-break"><%= @application.introduction %></td>
          </tr>
          <tr>
            <th>url</th>
          </tr>
          <tr>
            <td><%= @application.url %></td>
          </tr>
          <tr>
            <th>github</th>
          </tr>
          <tr>
            <td>
              <%= @application.giturl %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>