<!DOCTYPE html>
<html>
  <head>
    <title>junpei's room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="robots" content="nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="odajunpei's portfolio" />
    <meta name="keywords" content="小田純平" />
    <meta name="author" content="小田純平" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body class="d-flex flex-column vh-100 background_image">
    <header class="shadow-sm">
      <nav class="navbar navbar-light justfy-content-between nav-back">
        <div class="container-fluid">
          <a class="navbar-brand p-2" href="/"><div class="webtitle"></div></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item"><%= link_to '投稿会員一覧', '#', class: "btn btn-warning" %></li>
                <li class="nav-item"><%= link_to '家族会員一覧', '#', class: "btn btn-warning" %></li>
                <li class="nav-item"><%= link_to '投稿一覧', '#', class: "btn btn-warning" %></li>
                <li class="nav-item"><%= link_to '家族コード一覧', '#', class: "btn btn-warning" %></li>
                <li class="nav-item"><%= link_to "お問い合わせ画面", '#', class:"btn btn-warning" %></li>
                <li class="nav-item"><%= link_to "ログアウト", '#', method: :delete, class: "btn btn-warning" %></li>
              <% else %>
                <li class="nav-item"><%= link_to '家族コード作成', '#', class: "nav-text" %></li>
                <li class="nav-item"><%= link_to '家族会員登録', '#', class: "nav-text" %></li>
                <li class="nav-item"><%= link_to '家族会員ログイン', '#', class: "nav-text" %></li>
                <li class="nav-item"><%= link_to '投稿会員登録', '#', class: "nav-text" %></li>
                <li class="nav-item"><%= link_to '投稿会員ログイン', '#', class: "nav-text" %></li>
                <li class="nav-item"><%= link_to 'お問い合わせ', '#', class:"nav-text" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer class="text-black pt-5 pb-4">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <p><i class="fab fa-ussunnah"></i><strong>junpei's room</strong></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>