<!DOCTYPE html>
<html>
  <head>
    <title>j's room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="robots" content="nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="odajunpei's portfolio" />
    <meta name="keywords" content="小田純平" />
    <meta name="author" content="小田純平" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body class="d-flex flex-column vh-100 background_image">
    <header class="shadow-sm">
      <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container-fluid">
          <% if admin_signed_in? %>
            <a class="navbar-brand p-3" href="/admin/applications"><div class="webtitle"></div></a>
          <% else %>
            <a class="navbar-brand p-3" href="/"><div class="webtitle"></div></a>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item"><%= link_to 'アプリ投稿', new_admin_application_path, class: "btn btn-warning" %></li>
                <li class="nav-item"><%= link_to 'ニュース投稿', '#', class: "btn btn-warning" %></li>
                <li class="nav-item"><%= link_to 'お問い合わせ回答', admin_inquiries_path, class: "btn btn-warning" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-warning" %></li>
              <% else %>
                <li class="nav-item"><%= link_to 'profile', homes_profile_path, class: "nav-text" %></li>
                <li class="nav-item"><%= link_to 'お問い合わせ', new_inquiry_path, class: "nav-text" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer class="t-black pt-3 pb-4">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <p><i class="fab fa-ussunnah"></i><strong>j's room</strong></p>
            <span class="icon">
            <%= link_to "https://www.instagram.com/odadandoda/", class: "text-dark icon" do %>
              <h1><i class="fab fa-instagram-square"></i></h1>
          　<% end %>
          　<%= link_to "https://twitter.com/Jnpi022Bb", class: "text-dark icon" do %>
              <h1><i class="fab fa-twitter-square"></i></h1>
          　<% end %>
            </span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>